::-webkit-scrollbar {
  width: 8px;
  transition: 0.5s;
}

::-webkit-scrollbar-thumb {
  background: rgba(54,54,54,0.6);
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: #363636;
}

::-webkit-scrollbar-track {
  background: rgba(54,54,54,0.1);
}
