$verde: #67cf71;
$nero: #363636;
$main-bg: linear-gradient(90deg, rgba(195,195,195,1) 0%, rgba(255,255,255,1) 50%, rgba(195,195,195,1) 100%);
$min-bg: linear-gradient(90deg, rgba(210,210,210,1) 0%, rgba(255,255,255,1) 50%, rgba(210,210,210,1) 100%);


@import "font";
@import "scrollbar";
@import "dinamic-text";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	-ms-scroll-snap-type: y proximity;
	scroll-snap-type: y proximity;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

body {
	color: $nero;
	font-family: 'Quicksand', sans-serif;
	overflow: overlay; //serve per scrollbar
}

section {
	width: 100%;
	scroll-snap-align: start;
}

.section-container {
	width: 70%;
	min-height: 100vh;
	height: 100%;
	margin: auto;
	border-bottom: 1px solid rgba(54,54,54,0.1);
	text-align: center;

	p {
		letter-spacing: -1px;
	}

	a {
		text-decoration: none;
		color: $verde;
		font-weight: bold;
		transition: 0.2s;
	}

	a:visited {
		color: $verde;
	}

	a:hover {
		color: rgba(103,207,113, 0.6);
	}

	h3 {
		font-family: "IBMPlex";
		color: $verde;
		margin-top: 160px;
		margin-bottom: 35px;
		text-align: center;
	}

	h3:nth-of-type(1) {
		margin-top: 0;
	}
}

.nav-transp {
	background: transparent;
	transition: all 0.5s;
}

.nav-black {
	background-color: rgba(30,30,30,0.97);
	transition: all 0.5s;
}

#navbar {
	position: fixed;
  width: 100%;
	top: 0;
	z-index: 1;

	.nav-container {
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;

		ul {
			list-style: none;

			li {
				display: inline-block;
				border-bottom: solid 4px transparent;
				transform: translateY(2px);

				a {
					display: inline-block;
					padding: 10px 20px;
					text-decoration: none;
          color: white;
					transition: 0.3s;
				}

        a:visited {
           color: white;
        }

        a:hover {
           color: $verde;
        }
			 }

			li.active {
				border-bottom: solid 4px $verde;
        margin-bottom: 0px;
				transition: all 0.3s;

				a {
					font-weight: bold;
				}
		   }

			li.home {
				transform: translateY(1px);
			}

			li.home a {
				border-bottom: none;
				font-weight: bold;
				color: $verde;
			}

			li.home a:hover {
				opacity: 0.8;
			}
		}
	}
}

#home {
	background:  radial-gradient(circle, #454545, #000000);
  color: #ffffff;
	text-align: left;
	font-size: calc(1rem + 2vw);

	.section-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		h1 {
			font-family: 'IBMPlex';
			text-shadow: -4px 4px 2px rgba(0,0,0,0.8);

			span {
				font-family: 'IBMPlex';
				color: $verde;
			}
		}

		.arrow {
			box-sizing: border-box;
			height: 70px;
			width: 70px;
			border-style: solid;
			border-color: #ffffff;
			border-width: 0px 2px 2px 0px;
			transform: rotate(45deg);
			transition: border-width 200ms ease-in-out;
		}

		.arrow:hover {
			border-bottom-width: 4px;
			border-right-width: 4px;
			border-color: $verde;
		}
	}
}

#about {
	background: $main-bg;

	.section-container {
		font-size: calc(1rem + 0.8vw);
		padding-bottom: 15%;
		padding-top: 100px;

		p {
		  padding-top: 30px;
			text-align: left;
			margin: auto;
			width: 65%;
		}

		p:nth-of-type(5) {
			width: 100%;
			margin-bottom: 30px;
		}

		.foto-profilo {
				float: right;
			margin-right: 10px;
			margin-top: 20px;
			margin-bottom: 20px;
			width: 13vw;
			min-width: 130px;
			border-radius: 3px;
		}

		.skill {
			margin: auto;
			margin-bottom: 20px;
			width: 80%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.stelle {
				width: 24vw;
				height: 12vh;
				position: relative;

				.back {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 1;
				}

				.front {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					transition: 0.5s;
				}

				.front:hover {
					opacity: 1;
				}

				.back:hover {
					opacity: 0;
				}

				.duen {
					background: url('../img/2nere.png') left no-repeat;
					background-size: contain;
				}

				.duev {
					background: url('../img/2verdi.png') left no-repeat;
					background-size: contain;
				}

				.unan {
					background: url('../img/1nera.png') left no-repeat;
					background-size: contain;
				}

				.unav {
					background: url('../img/1verde.png') left no-repeat;
					background-size: contain;
				}
			}
		}

			ul {
				list-style-type: none;
				width: 75%;
				display: table;
				margin: 0 auto;
				text-align: center;

				li {
					padding-top: 30px;
					transition: 0.3s;
					text-align: left;
				}

				li:hover {
						transform: translateY(-10px);
						text-shadow: 0px 10px 15px rgba(0,0,0,0.6);
				}
			}
	  }
  }

#projects {
	height: 100%;
	background: $main-bg;

	.section-container {
		font-size: calc(1rem + 0.8vw);
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

	p {
		line-height: 1.5;
	}

	h3 {
		margin-top: 50px;
	}

	.icon-container {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.icon {
			width: 200px;
			height: 75px;
			transition: 0.2s;
		}

		.py {
			background: url("../img/python-icon.svg") center no-repeat;
			background-size: 70%;
		}

		.py:hover {
			background: url("../img/pythonG-icon.svg") center no-repeat;
			background-size: 70%;
		}

		.qm {
			background: url("../img/question-icon.svg") center no-repeat;
			background-size: 30%;
		}

		.qm:hover {
			background: url("../img/questionG-icon.svg") center no-repeat;
			background-size: 28.5%;
		}

		.iconLink {
			display: block;
			height: 100%;
			width: 100%;
		 }
	 }
  }
}



#contact {
	background: $main-bg;
	height: 100%;

	.section-container {
		font-size: calc(1rem + 0.8vw);
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		p {
			line-height: 1.5;
		}

		h3 {
			margin-top: 50px;
		}

		a {
			transition: all 0.2s;
		}

		a:hover {
			font-size: 0.97em;
			text-shadow: 5px 5px 40px rgba(0,0,0,0.2);
			color: $verde;
		}

		.icon-container {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;

			.icon {
				width: 10%;
				min-width: 50px;
				height: 75px;
				transition: 0.2s;
			}

			.insta {
				background: url("../img/instagram-icon.svg") center no-repeat;
				background-size: 60%;
			}

			.insta:hover {
				background: url("../img/instagramG-icon.svg") center no-repeat;
				background-size: 56%;
			}

			.fb {
				background: url("../img/facebook-icon.svg") center no-repeat;
				background-size: 60%;
			}

			.fb:hover {
				background: url("../img/facebookG-icon.svg") center no-repeat;
				background-size: 56%;
			}

			.linke {
				background: url("../img/linkedin-icon.svg") center no-repeat;
				background-size: 60%;
			}

			.linke:hover {
				background: url("../img/linkedinG-icon.svg") center no-repeat;
				background-size: 56%;
			}

			.iconLink {
				display: block;
				height: 100%;
				width: 100%;
		  }
		}
  }
}

//qua seleziono solo i dispositivi touch, in questo modo gestisco gli hover
@media only screen and (hover: none) {

	html {
		-ms-scroll-snap-type: none;
		scroll-snap-type: none;
	}

	#navbar {
		.nav-container {
			ul {
				li {

					a:hover {
						 color: #ffffff !important;
					 }
				}

				li.home a:hover {
					color: $verde !important;
					opacity: 1;
				}
			}
		}
	}

	#home {

		.arrow:hover {
			border-bottom-width: 2px;
			border-right-width: 2px;
			border-color: #ffffff;
		}
	}

	#about {

		.section-container {

				.front:hover {
					opacity: 0;
				}

				.duen {
					background: url('../img/2nereMobile.png') left no-repeat;
					background-size: contain;
				}

				.unan {
					background: url('../img/1neraMobile.png') left no-repeat;
					background-size: contain;
			}
		}
	}
}

@media screen and (max-width: 768px) {

	.section-container {
		width: 90%;
	}

	#navbar {
		.nav-container {
			width: 90%;
			ul {
				li {
					a {
						padding: 10px 10px;
					}
				}
			}
		}
	}

	#home {
		line-height: 1.7;
	}

	#about {
		background: $min-bg;
		line-height: 1.3;

		.section-container {

				p {
					width: 85%;
				}

				.stelle {
					width: 40vw;
					height: 20vh;
				}
			}
		}


	#projects {
		background: $min-bg;
		height: 100%;

		.section-container {

				p {
					line-height: 2.2;
			}
		}
	}

	#contact {
		background: $min-bg;

		.section-container {

				p {
					line-height: 2.2;
				}
		}
  }
}

@media screen and (max-width: 400px) {

	#navbar {
		font-size: 0.7em;

		.nav-container {
			width: 100%;
			ul {
				li {
					a {
						padding: 5px 5px;
					}
				}
			}
		}
	}

	#about {
		line-height: 1.3;

		.stelle {
			width: 34vw;
			height: 17vh;
		}
	}

	#projects {
		line-height: 1.7;

	}

	#contact {
		line-height: 1.7;
	}

}
