@font-face {
  font-family: 'Quicksand';
  src: url("../font/Quicksand-Regular.woff2") format("woff2"), url("../font/Quicksand-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url("../font/Quicksand-Light.woff2") format("woff2"), url("../font/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url("../font/Quicksand-Italic.woff2") format("woff2"), url("../font/Quicksand-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url("../font/Quicksand-Bold.woff2") format("woff2"), url("../font/Quicksand-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url("../font/Quicksand-Bolditalic.woff2") format("woff2"), url("../font/Quicksand-Bolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlex';
  src: url("../font/ibm-plex-mono-v6-latin-200.woff2") format("woff2"), url("../font/ibm-plex-mono-v6-latin-200.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 8px;
  transition: 0.5s;
}

::-webkit-scrollbar-thumb {
  background: rgba(54, 54, 54, 0.6);
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: #363636;
}

::-webkit-scrollbar-track {
  background: rgba(54, 54, 54, 0.1);
}

h3 {
  display: inline-block;
  transition: 0.5s;
  transform-origin: left;
  transform: scaleX(0);
}

h3[data-scroll="in"] {
  transform: scaleX(1);
}

h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #67cf71;
  transform-origin: right;
  transition: 0.5s;
}

h3[data-scroll="in"]:before {
  transform: scaleX(0);
  transition-delay: 0.5s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -ms-scroll-snap-type: y proximity;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  color: #363636;
  font-family: 'Quicksand', sans-serif;
  overflow: overlay;
}

section {
  width: 100%;
  scroll-snap-align: start;
}

.section-container {
  width: 70%;
  min-height: 100vh;
  height: 100%;
  margin: auto;
  border-bottom: 1px solid rgba(54, 54, 54, 0.1);
  text-align: center;
}

.section-container p {
  letter-spacing: -1px;
}

.section-container a {
  text-decoration: none;
  color: #67cf71;
  font-weight: bold;
  transition: 0.2s;
}

.section-container a:visited {
  color: #67cf71;
}

.section-container a:hover {
  color: rgba(103, 207, 113, 0.6);
}

.section-container h3 {
  font-family: "IBMPlex";
  color: #67cf71;
  margin-top: 160px;
  margin-bottom: 35px;
  text-align: center;
}

.section-container h3:nth-of-type(1) {
  margin-top: 0;
}

.nav-transp {
  background: transparent;
  transition: all 0.5s;
}

.nav-black {
  background-color: rgba(30, 30, 30, 0.97);
  transition: all 0.5s;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

#navbar .nav-container {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

#navbar .nav-container ul {
  list-style: none;
}

#navbar .nav-container ul li {
  display: inline-block;
  border-bottom: solid 4px transparent;
  transform: translateY(2px);
}

#navbar .nav-container ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

#navbar .nav-container ul li a:visited {
  color: white;
}

#navbar .nav-container ul li a:hover {
  color: #67cf71;
}

#navbar .nav-container ul li.active {
  border-bottom: solid 4px #67cf71;
  margin-bottom: 0px;
  transition: all 0.3s;
}

#navbar .nav-container ul li.active a {
  font-weight: bold;
}

#navbar .nav-container ul li.home {
  transform: translateY(1px);
}

#navbar .nav-container ul li.home a {
  border-bottom: none;
  font-weight: bold;
  color: #67cf71;
}

#navbar .nav-container ul li.home a:hover {
  opacity: 0.8;
}

#home {
  background: radial-gradient(circle, #454545, #000000);
  color: #ffffff;
  text-align: left;
  font-size: calc(1rem + 2vw);
}

#home .section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home .section-container h1 {
  font-family: 'IBMPlex';
  text-shadow: -4px 4px 2px rgba(0, 0, 0, 0.8);
}

#home .section-container h1 span {
  font-family: 'IBMPlex';
  color: #67cf71;
}

#home .section-container .arrow {
  box-sizing: border-box;
  height: 70px;
  width: 70px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: border-width 200ms ease-in-out;
}

#home .section-container .arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
  border-color: #67cf71;
}

#about {
  background: linear-gradient(90deg, #c3c3c3 0%, white 50%, #c3c3c3 100%);
}

#about .section-container {
  font-size: calc(1rem + 0.8vw);
  padding-bottom: 15%;
  padding-top: 100px;
}

#about .section-container p {
  padding-top: 30px;
  text-align: left;
  margin: auto;
  width: 65%;
}

#about .section-container p:nth-of-type(5) {
  width: 100%;
  margin-bottom: 30px;
}

#about .section-container .foto-profilo {
  float: right;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 13vw;
  min-width: 130px;
  border-radius: 3px;
}

#about .section-container .skill {
  margin: auto;
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about .section-container .skill .stelle {
  width: 24vw;
  height: 12vh;
  position: relative;
}

#about .section-container .skill .stelle .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

#about .section-container .skill .stelle .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}

#about .section-container .skill .stelle .front:hover {
  opacity: 1;
}

#about .section-container .skill .stelle .back:hover {
  opacity: 0;
}

#about .section-container .skill .stelle .duen {
  background: url("../img/2nere.png") left no-repeat;
  background-size: contain;
}

#about .section-container .skill .stelle .duev {
  background: url("../img/2verdi.png") left no-repeat;
  background-size: contain;
}

#about .section-container .skill .stelle .unan {
  background: url("../img/1nera.png") left no-repeat;
  background-size: contain;
}

#about .section-container .skill .stelle .unav {
  background: url("../img/1verde.png") left no-repeat;
  background-size: contain;
}

#about .section-container ul {
  list-style-type: none;
  width: 75%;
  display: table;
  margin: 0 auto;
  text-align: center;
}

#about .section-container ul li {
  padding-top: 30px;
  transition: 0.3s;
  text-align: left;
}

#about .section-container ul li:hover {
  transform: translateY(-10px);
  text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.6);
}

#projects {
  height: 100%;
  background: linear-gradient(90deg, #c3c3c3 0%, white 50%, #c3c3c3 100%);
}

#projects .section-container {
  font-size: calc(1rem + 0.8vw);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#projects .section-container p {
  line-height: 1.5;
}

#projects .section-container h3 {
  margin-top: 50px;
}

#projects .section-container .icon-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#projects .section-container .icon-container .icon {
  width: 200px;
  height: 75px;
  transition: 0.2s;
}

#projects .section-container .icon-container .py {
  background: url("../img/python-icon.svg") center no-repeat;
  background-size: 70%;
}

#projects .section-container .icon-container .py:hover {
  background: url("../img/pythonG-icon.svg") center no-repeat;
  background-size: 70%;
}

#projects .section-container .icon-container .qm {
  background: url("../img/question-icon.svg") center no-repeat;
  background-size: 30%;
}

#projects .section-container .icon-container .qm:hover {
  background: url("../img/questionG-icon.svg") center no-repeat;
  background-size: 28.5%;
}

#projects .section-container .icon-container .iconLink {
  display: block;
  height: 100%;
  width: 100%;
}

#contact {
  background: linear-gradient(90deg, #c3c3c3 0%, white 50%, #c3c3c3 100%);
  height: 100%;
}

#contact .section-container {
  font-size: calc(1rem + 0.8vw);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#contact .section-container p {
  line-height: 1.5;
}

#contact .section-container h3 {
  margin-top: 50px;
}

#contact .section-container a {
  transition: all 0.2s;
}

#contact .section-container a:hover {
  font-size: 0.97em;
  text-shadow: 5px 5px 40px rgba(0, 0, 0, 0.2);
  color: #67cf71;
}

#contact .section-container .icon-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#contact .section-container .icon-container .icon {
  width: 10%;
  min-width: 50px;
  height: 75px;
  transition: 0.2s;
}

#contact .section-container .icon-container .insta {
  background: url("../img/instagram-icon.svg") center no-repeat;
  background-size: 60%;
}

#contact .section-container .icon-container .insta:hover {
  background: url("../img/instagramG-icon.svg") center no-repeat;
  background-size: 56%;
}

#contact .section-container .icon-container .fb {
  background: url("../img/facebook-icon.svg") center no-repeat;
  background-size: 60%;
}

#contact .section-container .icon-container .fb:hover {
  background: url("../img/facebookG-icon.svg") center no-repeat;
  background-size: 56%;
}

#contact .section-container .icon-container .linke {
  background: url("../img/linkedin-icon.svg") center no-repeat;
  background-size: 60%;
}

#contact .section-container .icon-container .linke:hover {
  background: url("../img/linkedinG-icon.svg") center no-repeat;
  background-size: 56%;
}

#contact .section-container .icon-container .iconLink {
  display: block;
  height: 100%;
  width: 100%;
}

@media only screen and (hover: none) {
  html {
    -ms-scroll-snap-type: none;
    scroll-snap-type: none;
  }
  #navbar .nav-container ul li a:hover {
    color: #ffffff !important;
  }
  #navbar .nav-container ul li.home a:hover {
    color: #67cf71 !important;
    opacity: 1;
  }
  #home .arrow:hover {
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-color: #ffffff;
  }
  #about .section-container .skill .stelle .front:hover {
    opacity: 0;
  }
  #about .section-container .skill .stelle .duen {
    background: url("../img/2nereMobile.png") left no-repeat;
    background-size: contain;
  }
  #about .section-container .skill .stelle .unan {
    background: url("../img/1neraMobile.png") left no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 768px) {
  .section-container {
    width: 90%;
  }
  #navbar .nav-container {
    width: 90%;
  }
  #navbar .nav-container ul li a {
    padding: 10px 10px;
  }
  #home {
    line-height: 1.7;
  }
  #about {
    background: linear-gradient(90deg, #d2d2d2 0%, white 50%, #d2d2d2 100%);
    line-height: 1.3;
  }
  #about .section-container p {
    width: 85%;
  }
  #about .section-container .stelle {
    width: 40vw;
    height: 20vh;
  }
  #projects {
    background: linear-gradient(90deg, #d2d2d2 0%, white 50%, #d2d2d2 100%);
    height: 100%;
  }
  #projects .section-container p {
    line-height: 2.2;
  }
  #contact {
    background: linear-gradient(90deg, #d2d2d2 0%, white 50%, #d2d2d2 100%);
  }
  #contact .section-container p {
    line-height: 2.2;
  }
}

@media screen and (max-width: 400px) {
  #navbar {
    font-size: 0.7em;
  }
  #navbar .nav-container {
    width: 100%;
  }
  #navbar .nav-container ul li a {
    padding: 5px 5px;
  }
  #about {
    line-height: 1.3;
  }
  #about .stelle {
    width: 34vw;
    height: 17vh;
  }
  #projects {
    line-height: 1.7;
  }
  #contact {
    line-height: 1.7;
  }
}
